body {
	display: block;
	text-align: center;
}

h1 {

}

.inputContainer {
	display: block;
	
}

.navBar {
	display: flex;
	background-color: #2d3886;
	height: 70px;
	border-radius: 5px;
}

.navlink {
	margin: 15px;
	font-size: x-large;
	text-decoration: none;
	color: white /*333130*/;
}

.titleHeader {
	display: block;
	justify-content: center;
}

#activeNote {
	height: 50px;
	width: 200px;
}

#activeNoteSubmit {
	height: 55px;
	width: 200px;
}

#activeNotes {
	display: block;
}

#autonomyResult {
	margin: 15px;
	transition: all 1s linear;
	display: none;
	font-size: xx-large;
	border: 2px solid;
	border-radius: 5px;
	padding: 15px;
}

#horsepowerResult {
	margin: 15px;
	transition: all 0.5s ease;
	display: none;
	font-size: xx-large;
	border: 2px solid;
	border-radius: 5px;
	padding: 15px;
}

#initialLoadOptions {
	display: flex;
	justify-content: center
}

#notes {
	text-align: left;
}

#notesInput {
	height: 250px;
	width: 250px;
}

#potentialErrors {
	margin: 15px;
	transition: all 0.5s ease;
	display: none;
	font-size: xx-large;
	border: 2px solid;
	border-radius: 5px;
	padding: 15px;
}
#resultsContainer {
	display: flex;
	justify-content: center;
}

/* merge this with other options button as a class */ 
#submitExistingNotes {
	margin: 15px;
	background-color: #2d3886;
	border-radius: 5px;
	color: white;
	height: 120px;
	width: 190px;
	font-size: xx-large;
}

#submitNotes {
	width: 250px;
	height: 55px;
}

#takeActiveNotes {
	margin: 15px;
	background-color: #2d3886;
	border-radius: 5px;
	color: white;
	height: 120px;
	width: 190px;
	font-size: xx-large;
}

